.watermark {
  display: flex;
  position: fixed;
}

.watermark-desktop {
  @media (max-width: 600px) {
    display: none !important;
  }
}

.watermark-mobile {
  @media (min-width: 600px) {
    display: none !important;
  }
}

#Watermark1 {
  position: absolute;
  right: -5px;
  bottom: 10px;

  * {
    color: #ffffff;
    letter-spacing: 20px;
    font-size: 36px;
  }

  &.Watermark1-v2-1 {
    * {
      color: #2e2e2e80;
    }
  }
}

#Watermark2 {
  position: absolute;
  left: 15px;
  bottom: 10px;

  * {
    color: #2e2e2e80;
    font-size: 36px;
    letter-spacing: 20px;
  }
}

#Watermark3 {
  flex-direction: column;
  right: 0;
  bottom: 0;
  margin: 30px 75px;
  letter-spacing: 10px;
  opacity: 0.5;

  p {
    transform: translateX(1px);
  }

  @media (max-width: 1280px) {
    font-size: 14px;
    margin: 30px;
  }
}

#Watermark4 {
  display: flex;
  flex-direction: column;

  justify-content: center;
  position: relative;
  margin-top: 10px;
  letter-spacing: 10px;
  opacity: 0.5;

  transform: translateX(10px);

  * {
    margin: 0;
    font-size: 12px;
    letter-spacing: 1px;
  }

  p {
    font-size: 8px;
    transform: translateX(1px);
    letter-spacing: 1.8px;
  }
}

#Watermark5 {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10px 0;

  * {
    color: #2e2e2e80;
    letter-spacing: 9px;
    font-size: 20px;
    white-space: nowrap;

    @media (max-width: 420px) {
      letter-spacing: 8px;
    }

    @media (max-width: 380px) {
      letter-spacing: 7px;
    }

    @media (max-width: 325px) {
      letter-spacing: 3px;
    }
  }
}
.watermark-mobile-4 {
  opacity: 1 !important;
  text-shadow: 0px 0px 1px #00000061 !important;
}
