@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

@import "watermark";

* {
  font-family: "Comfortaa", cursive;
  color: #2e2e2e;
}

body {
  position: absolute;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  background-color: #ffe5b4;
}

.body-container {
  height: 100%;
}

.container-result {
  padding-bottom: 35px;

  @media (max-width: 600px) {
    padding-top: 25px;
  }
}

.container-result-title {
  font-size: 32px;
  letter-spacing: 5px;

  @media (max-width: 600px) {
    margin-right: -15px;
    margin-left: -15px;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.body-row {
  height: 100%;
}

.bg-turquoise {
  background-color: #ffe5b4;
}

.bg-image-1 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/bg_2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.21;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d6d8da;
    z-index: -1;
  }
}

.h1 {
  font-size: 40px;
  letter-spacing: 10px;
}

.h2 {
  font-size: 32px;
  letter-spacing: 5px;

  @media (max-width: 600px) {
    font-size: 22px;
    letter-spacing: 1px;
  }
}

.card-pythagoras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 15px 0;
  color: #000000;
  font-size: 20px;
  letter-spacing: 2px;
  border: 1px solid #354330;

  @media (max-width: 1280px) {
    font-size: 14px;
  }

  @media (max-width: 1060px) {
    font-size: 14px;

    margin-left: -14px;
    margin-right: -14px;
  }

  @media (max-width: 800px) {
    font-size: 12px;
    margin: 1px 0;
    letter-spacing: 0px;
    margin-left: -14px;
    margin-right: -14px;
  }
  &.card-pythagoras-v3 {
    background-color: rgba(255, 255, 255, 0.25);
  }
  &.card-pythagoras-v4 {
    background: rgb(235, 255, 164);
    background: linear-gradient(135deg, rgba(235, 255, 164, 1) 0%, rgba(191, 207, 134, 1) 100%);
  }
}

.card-pythagoras-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: transparent;
}

.form-calc {
  width: 100%;
  padding: 0 15px;

  @media (max-width: 600px) {
    padding: 0;
  }
}

.form-title {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 24px 0 0 0;
  }
}

.form-group {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 12px 0;
  }
}

.form-calc-group {
  position: relative;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.form-calc-control {
  border: #ffffff;
  outline: none;
  font-size: 22px;
  text-align: center;
  padding: 25px 8px 19px 8px;
  border: 1px solid #ffffff;
  transition: all 300ms;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  letter-spacing: 4px;

  &.is-invalid {
    border-color: red;
    color: red;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 0.5rem;
  }

  &.form-calc-control-v2 {
    box-shadow: 0px 2px 5px #0000006b;
  }
}

.form-calc-submit {
  padding: 1em 0;
  border: 1px solid #354330;
  font-size: 22px;
  background: none;
  outline: none;
  background: rgb(235, 255, 164);
  background: linear-gradient(135deg, rgba(235, 255, 164, 1) 0%, rgba(191, 207, 134, 1) 100%);

  @media (max-width: 600px) {
    padding: 0.5em 0;
    width: 100%;
  }
}

.form-calc-label-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 22px;
  margin: 0;
  opacity: 0.3;
}

@media (max-width: 600px) {
  body {
    position: relative;
    height: auto;
    width: auto;
  }

  .mobile-grid {
    display: flex;
    flex-direction: column;
  }

  .mobile-a {
    padding: 10px 0px 5px 0 !important;
  }
}

img {
  display: none !important;
}

/* marina-seredkina */

.bg-body-v2-1 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d6d8da;
    z-index: -1;
  }

  @media (max-width: 760px) {
    &::after {
      content: "";
      background-image: url(../img/img_v2_4.jpg);
      opacity: 1;
    }
  }
  @media (min-width: 760px) {
    &::after {
      content: "";
      background-image: url(../img/img_v2_1.jpg);
      opacity: 0.21;
    }
  }
}
.bg-style-v2 {
  @media (max-width: 760px) {
    border-top: 1px solid #000;
  }
  @media (min-width: 760px) {
    background: #ffffff40;
    border-left: 1px solid #000;
  }
}

.bg-style-v2-2 {
  background-image: url(../img/img_v2_4.jpg);
  @media (max-width: 760px) {
    //border-top: 1px solid #000;
  }
  @media (min-width: 760px) {
    //background: #ffffff40;
    //border-left: 1px solid #000;
  }
}

/* svetlanakuz */

.bg-body-v3-1 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d6d8da;
    z-index: -1;
  }

  @media (max-width: 760px) {
    &::after {
      content: "";
      background-image: url(../img/img-v3-1.jpg);
      opacity: 1;
    }
  }
  @media (min-width: 760px) {
    //
  }
}

.bg-style-v3-2 {
  @media (min-width: 760px) {
    background-image: url(../img/img-v3-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.bg-style-v3-1 {
  @media (min-width: 760px) {
    border-right: 1px solid #000;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      background-image: url(../img/img-v3-3.jpg);
      z-index: -1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      opacity: 0.21;
    }
  }
}

/* anna-ponomarenko */
body.bg-body-v4-1 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f8efc6;
    z-index: -1;
  }

  @media (max-width: 760px) {
    &::after {
      content: "";
      background-image: url(../img/img-v4-1.jpg);
      opacity: 0.5;
    }
  }
  @media (min-width: 760px) {
    //
  }
}

.bg-style-v4-2 {
  @media (min-width: 760px) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      background-image: url(../img/img-v4-3.jpg);
      z-index: -1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      opacity: 0.5;
    }
  }
}
